Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

Clean up useless overload methods.
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
  core/src/test/scala/integration/kafka/api/AbstractConsumerTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/api/ProducerIdExpirationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerIntegrationTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestDownConversionConfigTest.scala
  core/src/test/scala/unit/kafka/server/LogDirFailureTest.scala
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
  core/src/test/scala/unit/kafka/server/MetadataRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: clients, core

MINOR: Cleanup connect runtime module
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/PredicateDoc.java
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/TransformationDoc.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorValidationIntegrationTest.java
Labels: connect

MINOR: Remove ToolsUtils.scala
  core/src/main/scala/kafka/utils/ToolsUtils.scala
Labels: core

new consumer default
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
Labels: clients, consumer

release4.0.0
  docs/streams/upgrade-guide.html
Labels: docs

upgrade 4.0.0
  docs/streams/upgrade-guide.html
Labels: docs

update test configs
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerPartitionAssignorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
Labels: clients

addressed comments
  core/src/main/java/kafka/log/remote/RemoteLogOffsetReader.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  storage/src/main/java/org/apache/kafka/storage/log/OffsetResultHolder.java
Labels: core, storage

streams apis update 400
  docs/streams/upgrade-guide.html
Labels: docs

Do validations for invalid versions
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
Labels: connect

add kips 1076, 1078
  docs/streams/upgrade-guide.html
Labels: docs

fix comment
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: coordinator

add back connecting processors
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
Labels: streams

add some GHA docs
  .github/workflows/README.md
Labels: build, docs

updated comments
  bin/kafka-share-consumer-perf-test.sh
  jfr7.tgz
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
  tools/src/main/java/org/apache/kafka/tools/ShareConsumerPerformance.java
Labels: tools

Revert "updated comments"
  bin/kafka-share-consumer-perf-test.sh
  jfr7.tgz
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
  tools/src/main/java/org/apache/kafka/tools/ShareConsumerPerformance.java
Labels: tools

updated docs
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
Labels: none

trying to convert test to using KRaft
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

Update plugin loading logic
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
Labels: connect

KAFKA-18199: Fix size calculation for nullable tagged structs
  clients/src/test/java/org/apache/kafka/common/message/StructMessageTest.java
  clients/src/test/resources/common/message/StructMessage.json
  generator/src/main/java/org/apache/kafka/message/MessageDataGenerator.java
Labels: clients

fixup: reword comment
  clients/src/test/java/org/apache/kafka/common/message/StructMessageTest.java
Labels: clients

testing triage
  NEW
Labels: none

Add note about ASF membership
  .github/workflows/README.md
  NEW
Labels: build, docs

add instructions
  .github/workflows/README.md
Labels: build, docs

set classic protocol
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
Labels: streams

fix name
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
Labels: kraft

temporarily disable formatter console console tests that fail
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
Labels: tools

remove default partition assignment for console consumer
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
Labels: tools

revert unneeded change
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
Labels: tools

re-enable test
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

fix imports
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
Labels: tools

test fix and minor adjustments
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SampleSinkConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SampleSourceConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
Labels: connect

Refactoring for clarity
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManagerTest.java
Labels: clients

Update CoordinatorRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManagerTest.java
Labels: clients

Update CoordinatorRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManagerTest.java
Labels: clients

More refactoring
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManagerTest.java
Labels: clients

proof of concept
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/SlowEventsLogger.java
Labels: kraft

wip
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/SlowEventsLogger.java
Labels: kraft

reverting back to 3.8
  tests/kafkatest/services/zookeeper.py
Labels: none

Update client_compatibility_features_test.py
  tests/kafkatest/tests/client/client_compatibility_features_test.py
Labels: none
