Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update README.md
  README.md
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Fix grammar
  docs/upgrade.html
Labels: docs

fix e2e
  tests/kafkatest/services/kafka/kafka.py
Labels: none

KAFKA-18314: Fix to Kraft or remove tests associate with Zk Broker config in KafkaApisTest
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core

MINOR: log4j2 upgrade follow-up
  bin/connect-distributed.sh
  bin/connect-mirror-maker.sh
  bin/connect-standalone.sh
  bin/kafka-run-class.sh
  bin/kafka-server-start.sh
  bin/windows/connect-distributed.bat
  bin/windows/connect-standalone.bat
  bin/windows/kafka-run-class.bat
  bin/windows/kafka-server-start.bat
  build.gradle
  docs/upgrade.html
  gradle/dependencies.gradle
Labels: build, docs

MINOR: fix TopicCommand warning message.format.version output
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
Labels: tools

KAFKA-18343: Use java_pids to implement pids
  tests/kafkatest/services/kafka/kafka.py
Labels: none

KAFKA-18142 switch Kafka's Gradle build shadow plugin to `com.gradleup.shadow`
  build.gradle
Labels: none

Fix shadow configs
  build.gradle
Labels: none

KAFKA-18272: Deprecated protocol api usage should be logged at info level
  core/src/main/scala/kafka/network/RequestChannel.scala
Labels: core

from latest discussions
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/NomineeState.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft

separate out source and sink connector, add test for versioned converters
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/VersionedPluginBuilder.java
  connect/runtime/src/test/resources/test-plugins/sampling-connector/META-INF/services/org.apache.kafka.connect.source.SourceConnector
  connect/runtime/src/test/resources/test-plugins/versioned-source-connector/test/plugins/VersionedSamplingSourceConnector.java
Labels: connect

docs(streams): add migrating from transform to process
  docs/streams/developer-guide/dsl-api.html
Labels: docs

make plugin initialisation static
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
Labels: connect

KAFKA-15370: Support Participation in 2PC (KIP-939) (2/N)
  clients/src/main/resources/common/message/InitProducerIdRequest.json
  clients/src/main/resources/common/message/InitProducerIdResponse.json
  transaction-coordinator/src/main/resources/common/message/TransactionLogValue.json
Labels: clients

Add cache connector tests
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/CachedConnectors.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/CachedConnectorTest.java
Labels: connect

cached connectors should throw original exception
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/CachedConnectors.java
Labels: connect

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
