Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

addressed by comment
  README.md
Labels: docs

remove changes in connector config
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
Labels: connect

KAFKA-18214: TestUtils#waitForCondition does not honor the maxWaitMs
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/TestUtils.java
Labels: none

more unwanted change removal
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
Labels: connect

Fix default version
  metadata/src/main/java/org/apache/kafka/controller/QuorumFeatures.java
  server/src/main/java/org/apache/kafka/server/BrokerFeatures.java
Labels: core, kraft

address second review
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
Labels: kraft

initial commit
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/requests/VoteRequest.java
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/VotingState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: clients, core, kraft

still need to add more test cases to QuorumStateTest
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
Labels: kraft

match latest version of kip
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/VotingState.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft

fixup: rework the fix
  generator/src/main/java/org/apache/kafka/message/MessageDataGenerator.java
Labels: none

fix quorumstate description
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
Labels: kraft

KAFKA-18015: add byDuration auto.offset.reset to Kafka Streams
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AutoOffsetResetStrategy.java
  gradle/spotbugs-exclude.xml
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/FineGrainedAutoResetIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/internals/AutoOffsetResetInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ConsumedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: build, clients, streams, consumer

spotless
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
Labels: streams

spotbug
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
Labels: streams

fix test
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
Labels: connect

update test
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

checkstyle fix and remove gitignore changes
  .gitignore
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ReflectionScanner.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
Labels: connect

remove unwanted changes
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ReflectionScanner.java
Labels: connect

newline in gitignore
  .gitignore
Labels: none

fix up tests
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
  raft/src/test/java/org/apache/kafka/raft/ResignedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateWithVoteTest.java
Labels: kraft

Kafka-16540: Update partitions if min isr config is changed.
  metadata/src/main/java/org/apache/kafka/controller/BrokersToElrs.java
  metadata/src/main/java/org/apache/kafka/controller/BrokersToIsrs.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft

incorporated comments.
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorTestConfig.java
Labels: core

clean up stores
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableAbstractJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoin.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoinTest.java
Labels: streams

Fix naming,tests for defaultFeature map
  core/src/main/scala/kafka/server/ControllerServer.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumFeatures.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ProducerIdControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTestEnv.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumFeaturesTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  server/src/main/java/org/apache/kafka/server/BrokerFeatures.java
Labels: core, kraft

Add Materialized to other 2 new tests
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

add optimized self-join store test
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

spotless
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableAbstractJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoin.java
Labels: streams

Refactor for redundant stats objects
  tools/src/main/java/org/apache/kafka/tools/ProducerPerformance.java
  tools/src/test/java/org/apache/kafka/tools/ProducerPerformanceTest.java
Labels: tools

KAFKA-18026: KIP-1112 convert StreamToTableNode
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamToTableNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

spotless
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamToTableNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

Update test and log message
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  tests/kafkatest/tests/core/transactions_upgrade_test.py
Labels: clients, producer

remove test
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

done
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorder.java
Labels: streams

tests
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
Labels: streams

pass configs into build
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

MINOR: improving some internal comments
  streams/src/main/java/org/apache/kafka/streams/internals/AutoOffsetResetInternal.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams

fix test_broker_rolling_bounce
  tests/kafkatest/services/verifiable_client.py
  tests/kafkatest/services/verifiable_consumer.py
  tests/kafkatest/tests/client/consumer_test.py
  tools/src/main/java/org/apache/kafka/tools/VerifiableConsumer.java
Labels: tools

revert unused change
  tests/kafkatest/services/verifiable_client.py
  tests/kafkatest/services/verifiable_consumer.py
  tests/kafkatest/tests/client/consumer_test.py
  tools/src/main/java/org/apache/kafka/tools/VerifiableConsumer.java
Labels: tools

update VerifiableConsumer
  tools/src/main/java/org/apache/kafka/tools/VerifiableConsumer.java
Labels: tools

update prop_file
  tests/kafkatest/services/verifiable_consumer.py
Labels: none
