Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

KAFKA-17747: Trigger rebalance on rack topology changes
  checkstyle/import-control-group-coordinator.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/SubscribedTopicDescriberImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TopicMetadata.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupPartitionMetadataValue.json
  group-coordinator/src/main/resources/common/message/ShareGroupPartitionMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/SubscribedTopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/AssignorBenchmarkUtils.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: coordinator, performance

fixed bug in recording prune.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/metrics/ShareCoordinatorMetrics.java
Labels: none

KAFKA-17507; WriteTxnMarkers API must not return until markers are written and materialized in group coordinator's cache (#18168)
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
Labels: core, coordinator

KAFKA-18263; Group lock must be acquired when reverting static membership rejoin
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
Labels: core

First draft of system tests for QFK
  checkstyle/suppressions.xml
  config/kraft/broker.properties
  config/kraft/controller.properties
  config/kraft/reconfig-server.properties
  run_tests.sh
  storage/bin/main/message/ProducerSnapshot.json
  storage/bin/main/message/RemoteLogSegmentMetadataRecord.json
  storage/bin/main/message/RemoteLogSegmentMetadataSnapshotRecord.json
  storage/bin/main/message/RemoteLogSegmentMetadataUpdateRecord.json
  storage/bin/main/message/RemotePartitionDeleteMetadataRecord.json
  storage/bin/test/log4j2.yaml
  storage/bin/test/org/apache/kafka/tiered/storage/README.md
  test-common/bin/test/junit-platform.properties
  test-common/bin/test/log4j.properties
  test-common/test-common-api/bin/main/org/apache/kafka/common/test/api/README.md
  test-common/test-common-api/bin/test/log4j.properties
  tests/kafkatest/services/kafka/templates/kafka.properties
  tests/kafkatest/services/verifiable_client.py
  tests/kafkatest/services/verifiable_share_consumer.py
  tests/kafkatest/tests/client/share_consumer_test.py
  tests/kafkatest/tests/verifiable_share_consumer_test.py
  tools/src/main/java/org/apache/kafka/tools/VerifiableShareConsumer.java
Labels: storage, tools, docs

First draft of system tests for the new share consumer client
  checkstyle/suppressions.xml
  run_tests.sh
  tests/kafkatest/services/kafka/templates/kafka.properties
  tests/kafkatest/services/verifiable_client.py
  tests/kafkatest/services/verifiable_share_consumer.py
  tests/kafkatest/tests/client/share_consumer_test.py
  tests/kafkatest/tests/verifiable_share_consumer_test.py
  tools/src/main/java/org/apache/kafka/tools/VerifiableShareConsumer.java
Labels: tools

KAFKA-16505 deprecated old handler response enums
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SwallowUnknownTopicErrorIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/errors/DefaultProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/DeserializationExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

remove wrong states
  clients/src/main/java/org/apache/kafka/common/GroupState.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandUnitTest.java
Labels: clients, tools

Address comments from Chia-Ping
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogMetricNames.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: core, storage

MINOR: add assertion about groupEpoch and targetAssignmentEpoch to testConsumerGroups
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
Labels: core

addressed all the comments
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/server/BaseRequestTest.scala
Labels: core

add bucket
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

remove verifyTopicDeletion zkClient
  core/src/test/scala/integration/kafka/api/ProducerSendWhileDeletionTest.scala
  core/src/test/scala/unit/kafka/integration/MetricsDuringTopicCreationDeletionTest.scala
  core/src/test/scala/unit/kafka/metrics/MetricsTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

remove unused method in TestUtils.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

MINOR: Bump trunk to 4.1.0-SNAPSHOT
  committer-tools/kafka-merge-pr.py
  docs/js/templateData.js
  gradle.properties
  streams/quickstart/java/pom.xml
  streams/quickstart/java/src/main/resources/archetype-resources/pom.xml
  streams/quickstart/pom.xml
  tests/kafkatest/__init__.py
  tests/kafkatest/version.py
Labels: streams, tools, docs

Add warm-up tasks to Streams membership manager
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManagerTest.java
Labels: clients, consumer

KAFKA-18259: Documentation for consumer auto.offset.reset contains invalid HTML
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AutoOffsetResetStrategy.java
Labels: clients, consumer

Use orElseGet()
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: storage

MINOR: Add 4.0 branch to CI
  .github/workflows/ci.yml
Labels: build

Add support for fixed broker ports in ClusterTest
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/src/main/java/org/apache/kafka/common/test/TestUtils.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterConfig.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterTest.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterTestExtensions.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/RaftClusterInvocationContext.java
Labels: none

KAFKA-16758: Extend Consumer#close with an option to leave the group or not
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/CloseOption.java
  clients/src/main/java/org/apache/kafka/clients/consumer/Consumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/GroupMembershipOperation.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CloseOptionInternal.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventHandler.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMember.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerTask.java
Labels: clients, connect, storage, consumer

fixup: inline numRecords
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
Labels: coordinator

fixup: change log level to debug
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
Labels: coordinator

revert test
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

different approach
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

add new test
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

address minor comment
  .github/workflows/ci.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

use globs
  .github/workflows/ci.yml
Labels: build

wip
  .github/workflows/pr-reviewed.yml
Labels: build

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
