Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

spotless
  streams/src/main/java/org/apache/kafka/streams/internals/OffsetResetStrategy.java
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
Labels: streams

bug fixes
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ReflectionScanner.java
Labels: connect

drop OffsetResetStrategy enum to re-use the consumer one
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
  streams/src/main/java/org/apache/kafka/streams/internals/AutoOffsetResetInternal.java
  streams/src/main/java/org/apache/kafka/streams/internals/OffsetResetStrategy.java
Labels: streams

revert unwanted changes
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
Labels: connect

WIP
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/SlowEventsLogger.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/SlowEventsLoggerTest.java
Labels: kraft

ignore missing label
  .github/workflows/pr-reviewed.yml
Labels: build

fix scala
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ConsumedInternal.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Consumed.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/ConsumedTest.scala
Labels: streams

spotless
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Consumed.scala
Labels: streams

connect tests fix for group.version feature v1
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect

addressed comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManagerTest.java
Labels: clients, consumer

fixing usages
  tests/kafkatest/services/zookeeper.py
Labels: none

final review feedback
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamJoinWindow.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamSelfJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
Labels: streams

incorporated comments.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
Labels: none

remove part index, instead of clearing memo.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
Labels: none

Leave blank at EOL in ShareGroupAutoOffsetResetStrategy and ShareGroupAutoOffsetResetStrategyTest
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategyTest.java
Labels: coordinator

Address Andrew's and Apoorv's comments
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
Labels: core, coordinator

update the README.md new section about IntelliJ Configuration
  README.md
Labels: docs

Fix spotless error
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
Labels: coordinator

KAFKA-16505 fixing unit test
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SwallowUnknownTopicErrorIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/errors/DefaultProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

KAFKA-16505 simplifying default implementations
  streams/src/main/java/org/apache/kafka/streams/errors/DeserializationExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
Labels: streams

KAFKA-18207: Serde for handling transaction records
  build.gradle
  checkstyle/import-control-transaction-coordinator.xml
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogSegmentTest.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/ProducerStateManagerTest.java
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionCoordinatorRecordSerde.java
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/TransactionCoordinatorRecordSerdeTest.java
Labels: core, storage

delete AsyncOffsetReadFutureHolder before merge trunk
  storage/src/main/java/org/apache/kafka/storage/log/AsyncOffsetReadFutureHolder.java
Labels: storage

rebase trunk and resolve conflict
  checkstyle/import-control-core.xml
  checkstyle/import-control-storage.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/log/remote/RemoteLogOffsetReader.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/log/OffsetResultHolder.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/DelayedRemoteListOffsets.scala
  core/src/main/scala/kafka/server/ListOffsetsPartitionStatus.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogOffsetReaderTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/integration/kafka/server/DelayedRemoteListOffsetsTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/OffsetResultHolder.java
Labels: core, storage

add disable annotation to flaky test
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClientTest.java
Labels: clients

MINOR: suppress deprecation warnings for MemberDescription
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupServiceTest.java
Labels: tools

KAFKA-16368: segment.bytes constraints to min 1MB
  core/src/test/java/kafka/admin/DeleteTopicTest.java
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  docs/upgrade.html
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
Labels: core, storage, docs

Address comments
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core

Auto approve Pull Request Review workflow based on label
  .github/workflows/README.md
  .github/workflows/workflow-requested.yml
Labels: build, docs

KAFKA-16368: Update defaults for LOG_MESSAGE_TIMESTAMP_AFTER_MAX_MS_DEFAULT and NUM_RECOVERY_THREADS_PER_DATA_DIR_CONFIG
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  docs/upgrade.html
  server-common/src/main/java/org/apache/kafka/server/config/ServerLogConfigs.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/BaseDeleteSegmentsTest.java
Labels: core, storage, docs

KAFKA-17871: avoid blocking the herder thread when producer flushing hangs
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/OffsetStorageReaderImpl.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/OffsetStorageReaderTest.java
Labels: connect

include pull_request_review
  .github/workflows/workflow-requested.yml
Labels: build

only check for ci-approved label in PRs
  .github/workflows/workflow-requested.yml
Labels: build

wip
  .github/workflows/workflow-requested.yml
Labels: build

Other fixes
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/transactions_test.py
Labels: none

KAFKA-17040: Removing exception on further calls to terminated telemetry reporter
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporter.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporterTest.java
Labels: clients

Removed unused import
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporterTest.java
Labels: clients

remove prevote field
  clients/src/main/resources/common/message/VoteResponse.json
Labels: clients

remove last prevote response field reference
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
Labels: clients

add recommendor for invalid version, attempt to remove unwanted update
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ReflectionScanner.java
Labels: connect

KAFKA-18200: Handle more exceptions in coordinator runtime
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
Labels: coordinator
