Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

KAFKA-18111 Add Kafka Logo to README
  README.md
Labels: docs

KAFKA-18111 Add Kafka Logo to README
  README.md
Labels: docs

KAFKA-10730: KafkaApis#handleProduceRequest should use auto-generated protocol
  clients/src/main/java/org/apache/kafka/common/requests/ProduceResponse.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ProduceResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/main/scala/kafka/server/DelayedProduce.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/kafka/server/LocalLeaderEndPointTest.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/producer/ProducerResponseBenchmark.java
Labels: clients, core, performance

KAFKA-18082: Add 0.11, 1.0, 1.1 and 2.0 to consumer upgrade e2e
  tests/kafkatest/tests/client/consumer_protocol_migration_test.py
  tests/kafkatest/tests/kafka_test.py
Labels: none

Add connector config def tests
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectorConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
Labels: connect

add plugin recommender tests
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginsRecommenders.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginRecommenderTest.java
Labels: connect

fix some test in SocketServerTest
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
Labels: core

add startAsController flag
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
Labels: core

Implement fixed-window metric
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/KafkaConsumerMetrics.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/TimeRatio2.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
Labels: clients, consumer

remove warning log with Group protocol type
  core/src/main/scala/kafka/server/KafkaConfig.scala
Labels: core

MINOR: remove zkBroker from StreamsGroupHeartbeatRequest and StreamsGroupDescribeRequest
  clients/src/main/resources/common/message/StreamsGroupDescribeRequest.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatRequest.json
Labels: clients

KAFKA-13093: Log compaction should write new segments with record version v2 (KIP-724)
  clients/src/main/java/org/apache/kafka/common/record/MemoryRecords.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/common/record/MemoryRecordsTest.java
  core/src/main/scala/kafka/log/LogCleaner.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
Labels: clients, core

remove all version tag from docker-compose file
  docker/examples/docker-compose-files/cluster/combined/plaintext/docker-compose.yml
  docker/examples/docker-compose-files/cluster/combined/ssl/docker-compose.yml
  docker/examples/docker-compose-files/cluster/isolated/plaintext/docker-compose.yml
  docker/examples/docker-compose-files/cluster/isolated/ssl/docker-compose.yml
  docker/examples/docker-compose-files/single-node/file-input/docker-compose.yml
  docker/examples/docker-compose-files/single-node/plaintext/docker-compose.yml
  docker/examples/docker-compose-files/single-node/ssl/docker-compose.yml
  docker/test/fixtures/mode/combined/docker-compose.yml
  docker/test/fixtures/mode/isolated/docker-compose.yml
Labels: docker

KAFKA-18352: DeleteGroups v0 incorrectly tagged as deprecated
  clients/src/main/resources/common/message/DeleteGroupsRequest.json
Labels: clients

KAFKA-18352: Add back DeleteGroups v0, it incorrectly tagged as deprecated
  clients/src/main/resources/common/message/DeleteGroupsRequest.json
  clients/src/main/resources/common/message/DeleteGroupsResponse.json
Labels: clients

Simplify code via immutable collections introduced in Java 11
  clients/src/main/java/org/apache/kafka/common/Uuid.java
  clients/src/main/java/org/apache/kafka/common/metrics/Sensor.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/AccessTokenValidatorFactory.java
  connect/api/src/main/java/org/apache/kafka/connect/data/SchemaBuilder.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  generator/src/main/java/org/apache/kafka/message/MessageSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Utils.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/image/node/MetadataImageNode.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/PartitionAssignment.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/TopicAssignment.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumFeaturesTest.java
  metadata/src/test/java/org/apache/kafka/metadata/bootstrap/BootstrapDirectoryTest.java
  metadata/src/test/java/org/apache/kafka/metadata/bootstrap/BootstrapMetadataTest.java
  server-common/src/main/java/org/apache/kafka/server/config/QuotaConfig.java
  server/src/main/java/org/apache/kafka/server/ClientMetricsManager.java
  server/src/main/java/org/apache/kafka/server/config/ZkConfigs.java
  server/src/test/java/org/apache/kafka/server/metrics/ClientMetricsTestUtils.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/utils/CompositeStateListener.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/query/StateQueryRequest.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterConfig.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterTestExtensions.java
  trogdor/src/main/java/org/apache/kafka/trogdor/rest/TaskStateType.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ConnectionStressSpec.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/PartitionsSpec.java
Labels: clients, connect, core, storage, streams, tools, coordinator, kraft

Don't pass duplicate id to `Set.of`
  clients/src/main/java/org/apache/kafka/common/Uuid.java
Labels: clients

add validation tests
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
Labels: connect

reorder operations in validate
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
Labels: connect

add more validation test
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectorConfigTest.java
Labels: connect

Introduce `RequestHeader.isApiVersionDeprecated()` and use it where applicable
  clients/src/main/java/org/apache/kafka/common/requests/RequestHeader.java
  core/src/main/scala/kafka/network/RequestChannel.scala
  server/src/main/java/org/apache/kafka/network/RequestConvertToJson.java
Labels: clients, core

remove a test
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
Labels: core

revert KafkafConfig
  core/src/main/scala/kafka/server/KafkaConfig.scala
Labels: core

revert startAsController
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
Labels: core

KAFKA-18243: Fix compatibility of Loggers class between log4j and log4j2
  clients/src/test/java/org/apache/kafka/common/utils/LogCaptureAppender.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Loggers.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StandaloneWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/LoggersTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/MockLoggersTest.java
  tests/kafkatest/tests/connect/connect_distributed_test.py
Labels: clients, connect

revert KafkaConfig
  core/src/main/scala/kafka/server/KafkaConfig.scala
Labels: core

KAFKA-18295: Remove deprecated function Partitioner#onNewBatch
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/Partitioner.java
  clients/src/main/java/org/apache/kafka/clients/producer/RoundRobinPartitioner.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/RoundRobinPartitionerTest.java
  docs/upgrade.html
Labels: clients, docs, producer

KAFKA-18295: Remove abortOnNewBatch in RecordAccumulator#append
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/RecordAccumulator.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: clients, producer

KAFKA-18295: Remove RecordAppendResult#abortForNewBatch
  clients/src/main/java/org/apache/kafka/clients/producer/internals/RecordAccumulator.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
Labels: clients, producer

fix duplicated caffeine
  gradle/dependencies.gradle
Labels: build

KAFKA-17921: Support SASL_PLAINTEXT protocol with java.security.auth.login.config
  checkstyle/import-control-test-common.xml
  test-common/src/main/java/org/apache/kafka/common/test/JaasModule.java
  test-common/src/main/java/org/apache/kafka/common/test/JaasTestUtils.java
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/src/test/java/org/apache/kafka/common/test/TestKitNodeTest.java
  test-common/test-common-api/src/test/java/org/apache/kafka/common/test/api/ClusterTestExtensionsTest.java
Labels: none

cleaned up code
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/AuthorizerData.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/AbstractAuthorizerTest.java
  metadata/src/test/resources/log4j.properties
Labels: kraft

KAFKA-18337: Add a close status for JmxReporter, that avoid re-registering after being closed, which could lead to memory leaks
  clients/src/main/java/org/apache/kafka/common/metrics/JmxReporter.java
  clients/src/test/java/org/apache/kafka/common/metrics/JmxReporterTest.java
Labels: clients

remove control.Plane.listener
  core/src/main/scala/kafka/controller/ControllerChannelManager.scala
  core/src/main/scala/kafka/network/SocketServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/NodeToControllerChannelManager.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/SaslApiVersionsRequestTest.scala
  server/src/main/java/org/apache/kafka/network/SocketServerConfigs.java
Labels: core

update upgrade.html
  docs/upgrade.html
Labels: docs

remove controlPlaneAcceptor
  core/src/main/scala/kafka/network/SocketServer.scala
Labels: core

KAFKA-17631: Convert SaslApiVersionsRequestTest to kraft
  core/src/test/scala/unit/kafka/server/SaslApiVersionsRequestTest.scala
Labels: core

KAFKA-17921: Support SASL_PLAINTEXT protocol with java.security.auth.login.config
  checkstyle/import-control-test-common.xml
  test-common/src/main/java/org/apache/kafka/common/test/JaasModule.java
  test-common/src/main/java/org/apache/kafka/common/test/JaasTestUtils.java
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/src/test/java/org/apache/kafka/common/test/TestKitNodeTest.java
  test-common/test-common-api/src/test/java/org/apache/kafka/common/test/api/ClusterTestExtensionsTest.java
Labels: none

move upgrade note to 4.1
  docs/upgrade.html
Labels: docs

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
