Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

KAFKA-17141 'DescribeTopicPartitions API is not supported' warning message confuses users (#16612)
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
Labels: clients

KAFKA-18125: mirrormaker 2, restrict the number of checkpoint connector tasks
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnectorTest.java
Labels: connect

Re-enable few tests
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core

impl
  clients/src/main/java/org/apache/kafka/common/errors/StreamsInvalidTopologyEpochException.java
  clients/src/main/java/org/apache/kafka/common/errors/StreamsInvalidTopologyException.java
  clients/src/main/java/org/apache/kafka/common/errors/StreamsTopologyFencedException.java
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupHeartbeatRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupHeartbeatResponse.java
  clients/src/main/resources/common/message/StreamsGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatResponse.json
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  server/src/main/java/org/apache/kafka/network/RequestConvertToJson.java
Labels: clients, core

update the test
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

describe and options
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandUnitTest.java
Labels: tools

addressed by comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
Labels: clients, consumer

addressed by comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
Labels: clients, consumer

addressed by comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
Labels: clients, consumer

KAFKA-18023: Enforcing Explicit Naming for Kafka Streams Internal Topics
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalResourcesNaming.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

minor changes for better readability
  tests/kafkatest/services/verifiable_client.py
  tests/kafkatest/tests/client/share_consumer_test.py
  tools/src/main/java/org/apache/kafka/tools/VerifiableShareConsumer.java
Labels: tools

KAFKA-17960; PlaintextAdminIntegrationTest.testConsumerGroups fails with CONSUMER group protocol
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
Labels: core

MINOR: Mark KIP-848's public apis as stable
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/ConsumerGroupPartitionAssignor.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/GroupAssignment.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/GroupSpec.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/MemberAssignment.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/MemberSubscription.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/PartitionAssignor.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/ShareGroupPartitionAssignor.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/SubscribedTopicDescriber.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/SubscriptionType.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupCurrentMemberAssignmentKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMemberMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMemberMetadataValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMetadataValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupPartitionMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupPartitionMetadataValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupRegularExpressionKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupRegularExpressionValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMemberKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMemberValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMetadataValue.json
Labels: coordinator

fixes
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/ConsumerGroupPartitionAssignor.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/GroupAssignment.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/GroupSpec.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/MemberAssignment.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/MemberSubscription.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/PartitionAssignor.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/ShareGroupPartitionAssignor.java
Labels: coordinator

fixes
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/SubscribedTopicDescriber.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/SubscriptionType.java
Labels: coordinator

make exception for when inter.broker.listener.name is inferred from security protocol and add test
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: core

Address some comments
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: clients, producer

fix
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core

remove unsed
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
Labels: core

fix
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
Labels: core

Add comment
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
Labels: clients, producer

KAFKA-18026: KIP-1112 migrate KTableSuppressed
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSuppressNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorTest.java
Labels: streams

spotless
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

disabled CustomQuotaCallbackTest
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

FindCoordinatorResponse was missed
  clients/src/main/resources/common/message/FindCoordinatorRequest.json
  clients/src/main/resources/common/message/FindCoordinatorResponse.json
Labels: clients

Remove fields that no longer exist in the supported versions
  clients/src/main/resources/common/message/ListOffsetsRequest.json
  clients/src/main/resources/common/message/ListOffsetsResponse.json
  clients/src/main/resources/common/message/OffsetCommitRequest.json
Labels: clients

Adjust code and tests to handle the removed fields and protocol versions
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetFetcherUtils.java
  clients/src/main/java/org/apache/kafka/common/requests/ListOffsetsRequest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetFetcherTest.java
  clients/src/test/java/org/apache/kafka/common/message/MessageTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ListOffsetsRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/RemoteLeaderEndPoint.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/network/RequestConvertToJsonTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionManagerTest.scala
  core/src/test/scala/unit/kafka/server/AutoTopicCreationManagerTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/DeleteTopicsRequestTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestDownConversionConfigTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/ListOffsetsRequestTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  core/src/test/scala/unit/kafka/server/MetadataRequestTest.scala
  core/src/test/scala/unit/kafka/server/ProduceRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetAndMetadata.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetAndMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
  server-common/src/main/java/org/apache/kafka/server/config/ServerLogConfigs.java
  server-common/src/main/java/org/apache/kafka/server/config/ServerTopicConfigSynonyms.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
Labels: clients, core, storage, coordinator, consumer, kraft

Remove extra state, move check to avoid races.
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
Labels: clients, producer

add back config exception
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
Labels: connect

Adding comments
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
Labels: clients, producer

MINOR: improve StreamsResetter logging
  tools/src/main/java/org/apache/kafka/tools/StreamsResetter.java
Labels: tools

Fix more tests
  clients/src/main/resources/common/message/FindCoordinatorRequest.json
  core/src/test/scala/unit/kafka/server/FetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetAndMetadataTest.java
Labels: clients, core, coordinator

initial commit
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/requests/VoteRequest.java
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/VotingState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: clients, core, kraft

still need to add more test cases to QuorumStateTest
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
Labels: kraft

match latest version of kip
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/VotingState.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft

fix quorumstate description
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
Labels: kraft

fix compilation after rebase
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft

add raftProtocol testing matrix, need to fix quorumstatetest next
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft

wip, still needs more cleanup
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochElection.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/NomineeState.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
Labels: kraft

interface changes
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochElection.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/NomineeState.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/EpochElectionTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
Labels: kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
