Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

initial commit
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/requests/VoteRequest.java
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/VotingState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: clients, core, kraft

review comments
  streams/src/main/java/org/apache/kafka/streams/internals/AutoOffsetResetInternal.java
Labels: streams

match latest version of kip
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/VotingState.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft

fix compilation after rebase
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft

fix quorumstate description
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
Labels: kraft

add raftProtocol testing matrix, need to fix quorumstatetest next
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft

Fix rebootstrap test configuration (KAFKA-17986)
  core/src/test/scala/integration/kafka/api/ProducerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/RebootstrapTest.scala
Labels: core

KAFKA-18026: supply stores for KTable#mapValues using ProcessorSupplier#stores
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableMapValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableProcessorNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

review feedback
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableMapValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableFilterNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableProcessorNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

fix test
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

Move tv2 checks + add init producer ID if transaction just completed.
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
Labels: clients, producer

track last redundant offset
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
Labels: none

fix bug
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
Labels: none

fix abstract herder test
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
Labels: connect

add javax.ws.rs
  build.gradle
  gradle/dependencies.gradle
Labels: build

add javax.ws.rs
  build.gradle
  gradle/dependencies.gradle
Labels: build

revert unused change
  gradle/dependencies.gradle
Labels: build

revert unused change
  build.gradle
Labels: none

use dependencies.gradle
  build.gradle
  gradle/dependencies.gradle
Labels: build

Fix tests, update state machine to account for upgrading
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: clients, producer

MINOR: update release scripts
  release/templates.py
Labels: none

change to use jakarta
  build.gradle
  gradle/dependencies.gradle
Labels: build

remove swagger2
  build.gradle
  gradle/dependencies.gradle
Labels: build

move version to dependencies.gradle
  build.gradle
  gradle/dependencies.gradle
Labels: build

move version to dependencies.gradle
  build.gradle
Labels: none

sorting
  gradle/dependencies.gradle
Labels: build

test
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/tests/core/reassign_partitions_test.py
Labels: none

add badge to readme
  .github/workflows/generate-reports.yml
  README.md
Labels: build, docs

fix badge url
  README.md
Labels: docs

fix url again
  README.md
Labels: docs

pr feedback
  metadata/src/main/java/org/apache/kafka/controller/EventPerformanceMonitor.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/EventPerformanceMonitorTest.java
Labels: kraft

remove newline
  README.md
Labels: docs

MINOR: Add an example of how to run multiple test file to tests/README
  tests/README.md
Labels: docs

Address comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
Labels: clients, consumer

KAFKA-18242: The java code in core module is NOT configured with suitable release version
  build.gradle
Labels: none

addressed comments and add test
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/common/config/AbstractConfig.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
Labels: clients, consumer

revert unused change
  clients/src/main/java/org/apache/kafka/common/config/AbstractConfig.java
Labels: clients

draft a version
  .github/workflows/build.yml
Labels: build

Address comments
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordSerde.java
Labels: coordinator

use swagger version
  gradle/dependencies.gradle
Labels: build
