Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

checking that newNodes size is not 0 before passing it into random number generator (#522)
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
  clients/src/test/java/org/apache/kafka/clients/NetworkClientTest.java
  clients/src/test/java/org/apache/kafka/common/network/SslTransportLayerTest.java
Labels: clients

add comment, clean up if
  .github/workflows/pr-update.yml
Labels: build

KAFKA-15370: Support Participation in 2PC (KIP-939) (1/N)
  core/src/main/scala/kafka/coordinator/transaction/TransactionMetadata.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
Labels: core

KAFKA-18040: fix for test that ensures produce during follower shutdown
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
Labels: core

address comments
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
Labels: coordinator

remove import
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
Labels: coordinator

remove plugins.recommendor, use header converter defaults
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SinkConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SourceConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
Labels: connect

Address comment
  metadata/src/main/java/org/apache/kafka/controller/ActivationRecordsGenerator.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/ActivationRecordsGeneratorTest.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft

addressing comments
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
Labels: kraft

Fix style check
  metadata/src/main/java/org/apache/kafka/controller/ActivationRecordsGenerator.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ActivationRecordsGeneratorTest.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: kraft

inc review comments.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManagerTest.java
Labels: none

fixed javadoc
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
Labels: none

ACTIONITEM-3738: Improve the log message for the "There are no nodes in the Kafka cluster" error.
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
Labels: clients

KAFKA-18189: CoordinatorRequestManager log message can include incorrect coordinator disconnect time
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManagerTest.java
Labels: clients, consumer

remove mkset
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
Labels: kraft

Move version determination to TransactionVersion file
  core/src/main/scala/kafka/server/KafkaApis.scala
  server-common/src/main/java/org/apache/kafka/server/common/TransactionVersion.java
Labels: core

Fix version
  server-common/src/main/java/org/apache/kafka/server/common/TransactionVersion.java
Labels: core

fix granted prevote response
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
Labels: kraft

done, testing WIP
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamJoinWindow.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinLeftSide.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinRightSide.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamSelfJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseJoinProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
Labels: streams

tests passing
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
Labels: streams

import order
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamJoinWindow.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamSelfJoin.java
Labels: streams

minor changes
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
Labels: connect

left/outer test
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

remove debugging variable
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

addressed by comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
Labels: clients, consumer

add kip-1112 docs and fix/update upgrade guide
  docs/streams/developer-guide/config-streams.html
  docs/streams/upgrade-guide.html
Labels: docs

addressed by comments
  build.gradle
Labels: none

addressed by comments
  build.gradle
Labels: none

revert unused change
  build.gradle
Labels: none

address feedback
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableAbstractJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableJoinMerger.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

KAFKA-18192: generator module should run under java 11
  build.gradle
Labels: none

KAFKA-18021: Disabled MirrorCheckpointConnector throws RetriableException on task config generation
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
Labels: connect

KAFKA-18188; Admin LeaveGroup should allow removing member using consumer protocol by member id
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: core, coordinator

improvement MetadataShell logging
  shell/src/main/java/org/apache/kafka/shell/MetadataShell.java
  shell/src/main/java/org/apache/kafka/shell/command/TreeCommandHandler.java
Labels: none

use spotlessApply
  shell/src/main/java/org/apache/kafka/shell/MetadataShell.java
Labels: none

replaced timeline object with atomic boolean
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
Labels: none

KIP-1034 - adding new interfaces
  streams/src/main/java/org/apache/kafka/streams/errors/DefaultProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/DeserializationExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ExceptionHandlerUtils.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
Labels: streams

MINOR: Logs warning message when user invoke producer#flush within callback
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
Labels: clients, producer

KAFKA-10790: Add deadlock detection to producer#flush
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  docs/upgrade.html
Labels: clients, docs, producer

Add null check
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
Labels: clients, consumer

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
