Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

prototype for getting instance ids
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
Labels: streams

incorporated comments.
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManagerTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
Labels: core

Add tests and mark tv2 as production ready
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  server-common/src/main/java/org/apache/kafka/server/common/TransactionVersion.java
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/transactions_test.py
  tests/kafkatest/tests/core/transactions_upgrade_test.py
  tests/kafkatest/version.py
Labels: clients, core, producer

address comments
  LICENSE-binary
  build.gradle
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/HerderRequestHandler.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/util/SSLUtilsTest.java
  gradle/dependencies.gradle
Labels: build, connect

replacing usage
  tests/kafkatest/services/zookeeper.py
Labels: none

replace remaining usages
  tests/kafkatest/services/zookeeper.py
Labels: none

typos
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/transactions_test.py
Labels: none

addressing comments
  raft/src/main/java/org/apache/kafka/raft/EpochState.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/main/java/org/apache/kafka/raft/ResignedState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: kraft

Add AutoOffsetReset class
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Add topology sources for AutoOffsetReset
  streams/src/main/java/org/apache/kafka/streams/Topology.java
Labels: streams

test commit
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Refactor consumed class to leverage new AutoOffsetReset class for config
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

implementation for AutoOffsetReset class
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

update ConsumeInternal class to use new AutoOffsetReset
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ConsumedInternal.java
Labels: streams

add tests for autooffsetreset
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
Labels: streams

Update naming convention of duration method, add final to parameter
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Refactor AutoOffsetReset to leverage nested Enum, replace toString override
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Updates to code style
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Create AutoOffsetReset internal class, move getDuration method from super to it
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
  streams/src/main/java/org/apache/kafka/streams/internals/AutoOffsetResetInternal.java
Labels: streams

Add AutoOffsetReset import and update parameters
  streams/src/main/java/org/apache/kafka/streams/Topology.java
Labels: streams

Update test naming conventions
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
Labels: streams

Refactor Consumed class to deprecate old Topology AutoOffsetReset
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

Update Internal Topology to use new AutoOffsetReset class
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
Labels: streams

add apache license
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Linting
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ConsumedInternal.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
Labels: streams

Update streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Apply suggestions from code review
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

updates to imports and naming conventions
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSourceNode.java
Labels: streams

Deprecate legacy AutoOffsetReset enum
  streams/src/main/java/org/apache/kafka/streams/Topology.java
Labels: streams

Update naming convention for enum, remove helper describe() method
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
Labels: streams

Update addSource(...) to use fully qualified class name
  streams/src/main/java/org/apache/kafka/streams/Topology.java
Labels: streams

Add helper method, refactor Consumed constructor
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

Refactor consumed to deprecate old AutoOffsetReset and add helper function. Update hashcode and equals
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

Add JavaDocs to Consumed class
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

Typo
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

add backlinks to javadocs
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

fixing compilation/checkstyle errors and othere cleanup
  streams/src/main/java/org/apache/kafka/streams/AutoOffsetReset.java
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/internals/OffsetResetStrategy.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ConsumedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
Labels: streams

fixup Consumed
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

more Consumed fixup
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams

more
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
Labels: streams
