Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

revert test
  clients/src/test/java/org/apache/kafka/common/message/NullableStructMessageTest.java
  clients/src/test/resources/common/message/NullableStructMessage.json
Labels: clients

reimplement test
  clients/src/test/java/org/apache/kafka/common/message/NullableStructMessageTest.java
  clients/src/test/java/org/apache/kafka/common/message/SimpleExampleMessageTest.java
Labels: clients

fix e2e
  tests/kafkatest/services/trogdor/trogdor.py
Labels: none

MINOR: Distribute batch combining among read and write state.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/PersisterStateBatchCombiner.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/PersisterStateBatchCombinerTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
Labels: none

Refactor ShareGroupAutoOffsetResetStrategy to use AutoOffsetResetStrategy delegator
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategyTest.java
Labels: core, coordinator

disable ProducerRebootstrapTest
  core/src/test/scala/integration/kafka/api/ConsumerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/ProducerRebootstrapTest.scala
Labels: core

addressed by comment
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManagerTest.java
Labels: clients, consumer

Address comment
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core

Address comment
  test-common/src/main/java/org/apache/kafka/common/test/TestUtils.java
Labels: none

addressed by comment
  tests/kafkatest/tests/client/consumer_test.py
Labels: none

fix unit test
  tools/src/test/java/org/apache/kafka/tools/BrokerApiVersionsCommandTest.java
Labels: tools

fix error
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
Labels: clients, consumer

impl
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeStreamsGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeStreamsGroupsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupMemberAssignment.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupMemberDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupSubtopologyDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeStreamsGroupsHandler.java
  clients/src/main/resources/common/message/StreamsGroupHeartbeatRequest.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyValue.json
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
Labels: clients, streams, coordinator

fixes
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeStreamsGroupsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupMemberAssignment.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupMemberDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupSubtopologyDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeStreamsGroupsHandler.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
Labels: clients

KAFKA-17750: Extend kafka-consumer-groups command line tool to support new consumer group (part 3)
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/GroupInformation.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/MemberAssignmentState.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/PartitionAssignmentState.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupServiceTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteConsumerGroupsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DescribeConsumerGroupTest.java
Labels: tools

KAFKA-18136: Remove zk migration from code base
  core/src/main/scala/kafka/Kafka.scala
  core/src/main/scala/kafka/controller/KafkaController.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/MetadataCache.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/server/metadata/ZkMetadataCache.scala
  core/src/main/scala/kafka/zk/KafkaZkClient.scala
  core/src/main/scala/kafka/zk/ZkData.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/metrics/MetricsTest.scala
  core/src/test/scala/unit/kafka/server/BrokerRegistrationRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/MetadataCacheTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  metadata/src/main/java/org/apache/kafka/controller/ActivationRecordsGenerator.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumFeatures.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsPublisher.java
  metadata/src/main/java/org/apache/kafka/image/FeaturesDelta.java
  metadata/src/main/java/org/apache/kafka/image/FeaturesImage.java
  metadata/src/main/java/org/apache/kafka/image/MetadataDelta.java
  metadata/src/main/java/org/apache/kafka/image/node/FeaturesImageNode.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/ZkMigrationLeadershipState.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/ZkMigrationState.java
  metadata/src/main/resources/common/metadata/ZkMigrationRecord.json
  metadata/src/test/java/org/apache/kafka/controller/ActivationRecordsGeneratorTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumFeaturesTest.java
  metadata/src/test/java/org/apache/kafka/image/FeaturesImageTest.java
  metadata/src/test/java/org/apache/kafka/image/ImageDowngradeTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotEmitterTest.java
  server/src/main/java/org/apache/kafka/server/config/KRaftConfigs.java
Labels: core, performance, kraft

Set protocol for streams tests
  tools/src/test/java/org/apache/kafka/tools/AbstractResetIntegrationTest.java
Labels: tools

updates
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/SlowEventsLogger.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/SlowEventsLogger.java
  metadata/src/test/java/org/apache/kafka/controller/SlowEventsLoggerTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/SlowEventsLoggerTest.java
  server/src/main/java/org/apache/kafka/server/config/KRaftConfigs.java
Labels: core, kraft

Set protocol for streams tests
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
  tools/src/test/java/org/apache/kafka/tools/AbstractResetIntegrationTest.java
Labels: streams, tools

Address comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  core/src/test/java/kafka/clients/consumer/ConsumerIntegrationTest.java
Labels: clients, core, consumer

Revert fix addressed in trunk
  tools/src/main/java/org/apache/kafka/tools/VerifiableConsumer.java
Labels: tools

progress, test now starts running in KRaft mode, fails on line 150
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

addressing more comments
  clients/src/main/resources/common/message/VoteRequest.json
  raft/src/main/java/org/apache/kafka/raft/ElectionState.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateWithVoteTest.java
Labels: clients, kraft

add GHA to run report
  .github/workflows/generate-reports.yml
Labels: build

fix command
  .github/workflows/generate-reports.yml
Labels: build

add env
  .github/workflows/generate-reports.yml
Labels: build

try DEVELOCITY_ACCESS_KEY
  .github/scripts/develocity_reports.py
Labels: build

trying org secret
  .github/scripts/develocity_reports.py
  .github/workflows/generate-reports.yml
Labels: build

remove unwanted changes
  clients/src/main/java/org/apache/kafka/common/config/ConfigDef.java
Labels: clients

fix fail test
  storage/src/main/java/org/apache/kafka/storage/internals/log/OffsetResultHolder.java
Labels: storage

Attempt to fix diff
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginsRecommenders.java
Labels: connect

addressed by comment
  README.md
Labels: docs

addressed by comment
  README.md
Labels: docs

fix typo
  README.md
Labels: docs

remove generateConfigs
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
Labels: core

remove adminSocketServer
  core/src/test/scala/unit/kafka/server/BaseRequestTest.scala
Labels: core

remove changeClientIdConfig
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

remove ensureConsistentKRaftMetadata
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

remove createBrokerFromConfig
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

remove deleteTopic
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
