Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

KAFKA-17131: Refactor TimeDefinitions
  streams/src/main/java/org/apache/kafka/streams/kstream/Suppressed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/FinalResultsSuppressionBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/SuppressedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/TimeDefinitions.java
Labels: streams

KAFKA-13722: Refactor SerdeGetter
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SerdeGetter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreSerdeInitializer.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBufferTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreSerdeInitializerTest.java
Labels: streams

KAFKA-13722: Refactor Kafka Streams store interfaces
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreRestoreWriteBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/Segments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedSegments.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueSegmentTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedSegmentTest.java
Labels: streams

Fix bug -- we don't want to remove true value for clientEpochBump
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
Labels: clients, producer

Fix test failures
  core/src/main/scala/kafka/server/FetchSession.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/FetchSessionTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core

KAFKA-16907: Address comments
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/main/java/org/apache/kafka/raft/internals/AddVoterHandler.java
  raft/src/main/java/org/apache/kafka/raft/internals/RemoveVoterHandler.java
  raft/src/main/java/org/apache/kafka/raft/internals/UpdateVoterHandler.java
  raft/src/main/java/org/apache/kafka/raft/internals/UpdateVoterHandlerState.java
  raft/src/main/java/org/apache/kafka/raft/utils/DynamicReconfigRpc.java
  raft/src/main/java/org/apache/kafka/raft/utils/VoteRpc.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: kraft

migrate
  tests/kafkatest/tests/core/network_degrade_test.py
Labels: none

Upgrade note and deprecate "message.downconversion.enable"
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  docs/upgrade.html
Labels: clients, docs

Remove deprecated TopicListing(String, boolean)
  clients/src/main/java/org/apache/kafka/clients/admin/TopicListing.java
  docs/upgrade.html
Labels: clients, docs

fixup: rename classic group test cases
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
Labels: coordinator

rename variable
  tests/kafkatest/tests/core/network_degrade_test.py
Labels: none

KAFKA-15370: Support Participation in 2PC (KIP-939) (1/N)
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMetadataTest.scala
Labels: core

Remove deprecated DeleteTopicsResult#values
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteTopicsResult.java
  docs/upgrade.html
Labels: clients, docs

address comment
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupHeartbeatResponse.java
Labels: clients

use quorum node instead of kafka node
  tests/kafkatest/tests/core/network_degrade_test.py
Labels: none

review comments
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SerdeGetter.java
Labels: streams

revert combine_kraft
  tests/kafkatest/tests/core/network_degrade_test.py
Labels: none

support pure controller without broker
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/network_degrade_test.py
Labels: none

Add IT for share consumer with duration base offet auto reset
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core

needs additional revisions to voted states
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/FollowerStateWithVoteTest.java
Labels: kraft

impl
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: coordinator

Revert "support pure controller without broker"
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/network_degrade_test.py
Labels: none

Use combined again
  tests/kafkatest/tests/core/network_degrade_test.py
Labels: none

impl
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupDescribeRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupDescribeResponse.java
  clients/src/main/resources/common/message/StreamsGroupDescribeRequest.json
  clients/src/main/resources/common/message/StreamsGroupDescribeResponse.json
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  server/src/main/java/org/apache/kafka/network/RequestConvertToJson.java
Labels: clients, core

fix
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
Labels: core

MINOR: Fix flaky state updater test
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
Labels: streams

Add missing newline at the end of the file
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyValue.json
Labels: coordinator

KAFKA-18284: Add group coordinator records for Streams rebalance protocol
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMemberKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMemberValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyValue.json
Labels: coordinator

Formatting fixes
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMemberKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMemberValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyValue.json
Labels: coordinator

Add missing newline at the end of the file
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataValue.json
Labels: coordinator

Address comment
  core/src/test/java/kafka/admin/AdminFenceProducersTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteOffsetsConsumerGroupCommandIntegrationTest.java
Labels: core, tools

KAFKA-18296: Remove deprecated KafkaBasedLog constructor
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
Labels: connect

chore: Remove deprecated dryRun methods
  clients/src/main/java/org/apache/kafka/clients/admin/UpdateFeaturesOptions.java
  docs/upgrade.html
Labels: clients, docs

KAFKA-18273: KIP-1099 verbose display share group options
  clients/src/main/java/org/apache/kafka/clients/admin/ShareGroupDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/ShareMemberDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeShareGroupsHandler.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
Labels: clients, tools

fix
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
Labels: core

addressed by comments
  .github/workflows/build.yml
Labels: build

update record helpers
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
Labels: coordinator

KAFKA-18023: Enforcing Explicit Naming for Kafka Streams Internal Topics
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
Labels: streams

addressed by comments
  .github/workflows/build.yml
Labels: build

Update tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
Labels: tools
