Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

fix import
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
Labels: clients

test fixes
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
  share/src/test/java/org/apache/kafka/server/share/persister/DefaultStatePersisterTest.java
Labels: none

Minor fix
  share/src/main/java/org/apache/kafka/server/share/persister/DefaultStatePersister.java
Labels: none

GC changes
  build.gradle
  checkstyle/import-control-group-coordinator.xml
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateSummaryRequest.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
Labels: clients, core, coordinator

Rebase and fix
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
Labels: none

KAFKA-18230: handle not controller or not leader error in admin client
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/test/java/org/apache/kafka/clients/admin/AdminClientUnitTestEnv.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
Labels: clients, core

tests...
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
Labels: streams

Admin Client Changes
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListShareGroupOffsetsHandler.java
Labels: clients

checkstyle fix
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginsRecommenders.java
Labels: connect

remove last zk
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/integration/MetricsDuringTopicCreationDeletionTest.scala
Labels: core

add @Disabled
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

impl --list
  bin/kafka-streams-groups.sh
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandTest.java
Labels: tools

KAFKA-17507; WriteTxnMarkers API must not return until markers are written and materialized in group coordinator's cache
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
Labels: core, coordinator

KAFKA-17668: revert unnecessary change
  core/src/test/scala/unit/kafka/log/Scala212MigrationTest.scala
Labels: core

add utest for the former fix
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/taskassignor/StickyTaskAssignorTest.java
Labels: coordinator

fix bug in plugin versionloading and some tests
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/TransformationConfigTest.java
Labels: connect

Revert debug change
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/StickyTaskAssignor.java
Labels: coordinator

Add standby task assignment to Streams membership manager
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManagerTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/StickyTaskAssignor.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
Labels: clients, streams, coordinator, consumer

Fixes
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/StickyTaskAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilderTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
Labels: streams, coordinator

Fixes after rebase
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/taskassignor/StickyTaskAssignorTest.java
Labels: coordinator

Make tests more readable
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManagerTest.java
Labels: clients

Fixes after rebase
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/taskassignor/StickyTaskAssignorTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
Labels: streams, coordinator

upgrade version to 13
  clients/src/main/java/org/apache/kafka/clients/producer/internals/Sender.java
  clients/src/main/java/org/apache/kafka/common/requests/ProduceRequest.java
  clients/src/main/resources/common/message/ProduceRequest.json
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/common/message/MessageTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ProduceRequestTest.java
Labels: clients, producer

address reviews
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandUnitTest.java
Labels: tools

addressing some of @junrao feedback
  clients/src/main/resources/common/message/ProduceResponse.json
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: clients, core

Minor
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
Labels: kraft

resetter setting classic
  tools/src/main/java/org/apache/kafka/tools/StreamsResetter.java
Labels: tools

adding tests for resetter group protocol
  tools/src/test/java/org/apache/kafka/tools/ResetIntegrationTest.java
Labels: tools

remove unneeded setting in test
  tools/src/test/java/org/apache/kafka/tools/AbstractResetIntegrationTest.java
Labels: tools

add missing config to iTest
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams

add back concrete class check
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectorConfigTest.java
Labels: connect

KAFKA-18234: DumpLogSegments cannot print ConsumerGroupRegularExpression record
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
Labels: core

uncomment type
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
Labels: tools

clobber canGrantPreVote
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochState.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/ResignedState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ResignedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateWithVoteTest.java
Labels: kraft

Address comment
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core

KAFKA-18232: Add share group state topic prune metrics.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/metrics/ShareCoordinatorMetrics.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/metrics/ShareCoordinatorMetricsTest.java
Labels: none

checkstyle fix
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/metrics/ShareCoordinatorMetrics.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
Labels: none

minor refactor
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
Labels: streams

Address comments
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
Labels: core, coordinator

still need to add more test cases to QuorumStateTest
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
Labels: kraft
