Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

wip
  .github/workflows/pr-reviewed.yml
Labels: build

wip
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/integration/kafka/admin/ListOffsetsIntegrationTest.scala
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  core/src/test/scala/integration/kafka/api/AdminClientWithPoliciesIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndClusterIdTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/ProducerFailureHandlingTest.scala
  core/src/test/scala/integration/kafka/api/ProducerIdExpirationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsExpirationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsWithMaxInFlightOneTest.scala
  core/src/test/scala/integration/kafka/server/FetchFromFollowerIntegrationTest.scala
  core/src/test/scala/unit/kafka/integration/MetricsDuringTopicCreationDeletionTest.scala
  core/src/test/scala/unit/kafka/integration/MinIsrConfigTest.scala
  core/src/test/scala/unit/kafka/metrics/MetricsTest.scala
  core/src/test/scala/unit/kafka/server/DeleteTopicsRequestWithDeletionDisabledTest.scala
  core/src/test/scala/unit/kafka/server/HighwatermarkPersistenceTest.scala
  core/src/test/scala/unit/kafka/server/IsrExpirationTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ServerShutdownTest.scala
  core/src/test/scala/unit/kafka/server/epoch/OffsetsForLeaderEpochTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

wip
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

fix
  .github/workflows/ci.yml
Labels: build

wip
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

wip
  .github/workflows/pr-reviewed.yml
Labels: build

change sensor map -> concurrent hash map
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/metrics/ShareCoordinatorMetrics.java
Labels: none

fixup
  .github/workflows/README.md
  .github/workflows/ci-requested.yml
  .github/workflows/pr-reviewed-trigger.yml
  .github/workflows/pr-reviewed.yml
Labels: build, docs

just testing
  TEST
Labels: none

wip, still needs more cleanup
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochElection.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/NomineeState.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateWithVoteTest.java
Labels: kraft

Address comments
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/ActivationRecordsGeneratorTest.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft

fix tests
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
Labels: streams

rename
  TEST
  TEST.md
Labels: docs

KAFKA-12829: Remove deprecated Topology#addProcessor of old Processor API
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/processor/AbstractProcessor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorAdapter.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamProcessorApiTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignTableJoinProcessorSupplierTests.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ResponseJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionReceiveProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBufferTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreSerdeInitializerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBufferTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBBlockCacheMetricsTest.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams

checkstyle
  streams/src/test/java/org/apache/kafka/streams/AutoOffsetResetTest.java
Labels: streams

MINOR: improve Kafka Streams config docs
  docs/streams/developer-guide/config-streams.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, docs

more
  docs/streams/developer-guide/config-streams.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, docs

fix
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

Update docs/streams/developer-guide/config-streams.html
  docs/streams/developer-guide/config-streams.html
Labels: docs

Update docs/streams/developer-guide/config-streams.html
  docs/streams/developer-guide/config-streams.html
Labels: docs

SaslHandshakeRequest version 0 should not have been deprecated as per the KIP
  clients/src/main/resources/common/message/SaslHandshakeRequest.json
Labels: clients

rebase cleanup
  docs/streams/developer-guide/config-streams.html
Labels: docs

rat
  build.gradle
Labels: none

validate controller.listener.names is not in inter.broker.listener.name for kcontrollers
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
Labels: core

reverting KafkaRaftClient changes and adding documentation to RaftUtilTest fetch/fetchSnapshot compatibility test
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: kraft

Address comments
  metadata/src/main/java/org/apache/kafka/controller/ActivationRecordsGenerator.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/bootstrap/BootstrapMetadata.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
Labels: kraft

Minor
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: kraft

KAFKA-12469: Deprecated and corrected topic metrics for consumer (KIP-1109)
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchMetricsManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchMetricsManagerTest.java
Labels: clients, consumer

interface changes
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/EpochElection.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/NomineeState.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/EpochElectionTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
Labels: kraft

Fix tests
  clients/src/test/java/org/apache/kafka/clients/NodeApiVersionsTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/common/message/ApiMessageTypeTest.java
  clients/src/test/java/org/apache/kafka/common/message/MessageTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ApiVersionsResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/CreateAclsRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/DeleteAclsRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/DeleteAclsResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/DescribeAclsRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/DescribeAclsResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/JoinGroupRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ListOffsetsRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/MetadataRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/OffsetCommitRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ProduceResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestContextTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: clients, kraft

`shouldRetainsBufferReference` should handle the case where the request schema is null for a given version
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
Labels: clients

Simplify producer logic since it only supports the v2 record format now
  clients/src/main/java/org/apache/kafka/clients/ApiVersions.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/RecordAccumulator.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/Sender.java
  clients/src/main/java/org/apache/kafka/common/requests/ProduceRequest.java
  clients/src/test/java/org/apache/kafka/clients/ApiVersionsTest.java
  clients/src/test/java/org/apache/kafka/clients/NetworkClientTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ProduceRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/network/DynamicConnectionQuotaTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/EdgeCaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ProduceRequestTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/common/ProduceRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/producer/ProducerRequestBenchmark.java
Labels: clients, core, performance, producer

MINOR: Support group downgrades when fencing multiple members
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
Labels: coordinator

fix spotless
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableFilter.java
Labels: streams

Fix integration tests
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestMaxBytesTest.scala
Labels: core

KAFKA-18150: Downgrade group on classic leave of last consumer member
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: coordinator

KAFKA-18150: Add test based on testLastConsumerProtocolMemberLeavingConsumerGroup
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: coordinator

Revert "Add support for fixed broker ports in ClusterTest"
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/src/main/java/org/apache/kafka/common/test/TestUtils.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterConfig.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterTest.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterTestExtensions.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/RaftClusterInvocationContext.java
Labels: none

Revert "wip"
  core/src/test/java/kafka/server/ProducerRebootstrapIntegrationTest.java
Labels: core

fix(tests): re-enable ConsumerRebootstrapTest and improve comments
  core/src/test/scala/integration/kafka/api/ConsumerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/ProducerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/RebootstrapTest.scala
Labels: core

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
