Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

use version plugin loading exception in validation
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
Labels: connect

correct fmt for verbose option
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
Labels: tools

format members
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
Labels: tools

update old coordinator
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
Labels: core

Remove DescribeConfigsResponse.IsDefault and v0 specific code in constructor
  clients/src/main/java/org/apache/kafka/common/requests/DescribeConfigsResponse.java
  clients/src/main/resources/common/message/DescribeConfigsRequest.json
  clients/src/main/resources/common/message/DescribeConfigsResponse.json
Labels: clients

Restore FindCoordinator versions
  clients/src/main/resources/common/message/FindCoordinatorRequest.json
  clients/src/main/resources/common/message/FindCoordinatorResponse.json
Labels: clients

fix checkstyle
  generator/src/main/java/org/apache/kafka/message/MessageSpec.java
Labels: none

cleanup
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/resources/common/message/OffsetCommitValueV0.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
Labels: coordinator

KAFKA-18270: FindCoordinator v0 incorrectly tagged as deprecated
  clients/src/main/resources/common/message/FindCoordinatorRequest.json
Labels: clients

fixup
  tools/src/main/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/OffsetsMessageFormatter.java
Labels: tools

update dump-log
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
Labels: core

Relax restriction in voters set change
  raft/src/main/java/org/apache/kafka/raft/VoterSet.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetHistoryTest.java
Labels: kraft

Small nit
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
Labels: clients, producer

mark a few flaky tests
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinatorTest.java
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
Labels: clients, core

Try to deflake some of the tests
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
Labels: core

review comments
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams

KAFKA-15443 Update rocksdb version and changes in java class
  LICENSE-binary
  gradle/dependencies.gradle
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
Labels: build, streams

Code comments
  raft/src/main/java/org/apache/kafka/raft/VoterSet.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetHistoryTest.java
Labels: kraft

Fix import
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
Labels: kraft

Fix minor format issue
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetHistoryTest.java
Labels: kraft

KAFKA-18262: Remove DefaultPartitioner and UniformStickyPartitioner
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/Partitioner.java
  clients/src/main/java/org/apache/kafka/clients/producer/UniformStickyPartitioner.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/DefaultPartitioner.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/StickyPartitionCache.java
  clients/src/test/java/org/apache/kafka/clients/producer/MockProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/UniformStickyPartitionerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/DefaultPartitionerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/StickyPartitionCacheTest.java
  docs/upgrade.html
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/WindowedStreamPartitionerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/test/MockClientSupplier.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: clients, streams, docs, producer

fix typos
  generator/src/main/java/org/apache/kafka/message/MessageSpec.java
Labels: none

addressing comments plus quorumstatetest
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/NomineeState.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/main/java/org/apache/kafka/raft/internals/EpochElection.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/EpochElectionTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/FollowerStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft

rename offset commit v0
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/resources/common/message/LegacyOffsetCommitKey.json
  group-coordinator/src/main/resources/common/message/LegacyOffsetCommitValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/OffsetsMessageFormatter.java
Labels: core, tools, coordinator

cleanups
  clients/src/main/java/org/apache/kafka/common/protocol/MessageUtil.java
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordSerde.java
Labels: clients, core, coordinator

more cleanups
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  tools/src/main/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/OffsetsMessageFormatter.java
Labels: core, tools

MINOR: Fix MessageFormatters
  tools/src/main/java/org/apache/kafka/tools/consumer/ApiMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/OffsetsMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/TransactionLogMessageFormatter.java
  tools/src/test/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/OffsetMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/TransactionLogMessageFormatterTest.java
Labels: tools

KAFKA-16505
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/errors/DeserializationExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
Labels: streams

spotless
  tools/src/main/java/org/apache/kafka/tools/consumer/OffsetsMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/TransactionLogMessageFormatter.java
Labels: tools

impl
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredInternalTopic.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredSubtopology.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredTopology.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/TopicConfigurationException.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredInternalTopicTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredSubtopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredTopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/TopicConfigurationExceptionTest.java
Labels: coordinator

more
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMemberMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMemberKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMemberValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMetadataValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyValue.json
Labels: core, coordinator

Add test with all fields set
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
Labels: core

Remove extra empty line
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
Labels: core

change testPasswordConfigNotEncryption in Kraft mode, see PasswordEncoder
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
Labels: core

fix testDynamicListenerConfig and remove LISTENERS_CONFIG SASL_PLAINTEXT
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
Labels: core

fix testPasswordConfigEncoderSecretChange
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
Labels: core

fixes
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredInternalTopicTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredSubtopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredTopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/TopicConfigurationExceptionTest.java
Labels: coordinator

remove testBecomeFollowerWhenLeaderIsUnchangedButMissedLeaderUpdateIbp26 due to A non-KRaft version 2.6-IV0 given for inter.broker.protocol.version. The minimum version is 3.0-IV1
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core

remove testBecomeFollowerWhenLeaderIsUnchangedButMissedLeaderUpdateIbp26 due to A non-KRaft version 2.6-IV0 given for inter.broker.protocol.version. The minimum version is 3.0-IV1
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core

refactor
  tools/src/main/java/org/apache/kafka/tools/consumer/ApiMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/OffsetsMessageFormatter.java
  tools/src/main/java/org/apache/kafka/tools/consumer/TransactionLogMessageFormatter.java
Labels: tools
