Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

Add `-PskipSigning=true`
  README.md
Labels: docs

change to use latest
  README.md
Labels: docs

Add buildable versioned plugins
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/VersionedPluginBuilder.java
  connect/runtime/src/test/resources/test-plugins/sampling-connector/META-INF/services/org.apache.kafka.connect.sink.SinkConnector
  connect/runtime/src/test/resources/test-plugins/sampling-connector/META-INF/services/org.apache.kafka.connect.source.SourceConnector
  connect/runtime/src/test/resources/test-plugins/sampling-connector/test/plugins/SamplingConnector.java
  connect/runtime/src/test/resources/test-plugins/sampling-connector/test/plugins/VersionedSamplingSinkConnector.java
  connect/runtime/src/test/resources/test-plugins/sampling-connector/test/plugins/VersionedSamplingSourceConnector.java
  connect/runtime/src/test/resources/test-plugins/sampling-converter/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/sampling-converter/test/plugins/VersionedSamplingConverter.java
  connect/runtime/src/test/resources/test-plugins/sampling-header-converter/test/plugins/SamplingHeaderConverter.java
  connect/runtime/src/test/resources/test-plugins/sampling-header-converter/test/plugins/VersionedSamplingHeaderConverter.java
Labels: connect

KAFKA-18023: Enforcing Explicit Naming for Kafka Streams Internal Topics
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

addressed by comment
  docker/docker_official_images/3.7.0/jvm/Dockerfile
Labels: docker

KAFKA-18023: Enforcing Explicit Naming for Kafka Streams Internal Topics
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

Add transformation and predicate versioned test plugins
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/VersionedPluginBuilder.java
  connect/runtime/src/test/resources/test-plugins/sampling-connector/test/plugins/VersionedSamplingSourceConnector.java
  connect/runtime/src/test/resources/test-plugins/sampling-header-converter/test/plugins/VersionedSamplingHeaderConverter.java
  connect/runtime/src/test/resources/test-plugins/versioned-predicate/META-INF/services/org.apache.kafka.connect.transforms.predicates.Predicate
  connect/runtime/src/test/resources/test-plugins/versioned-predicate/test/plugins/VersionedPredicate.java
  connect/runtime/src/test/resources/test-plugins/versioned-transformation/META-INF/services/org.apache.kafka.connect.transforms.Transformation
  connect/runtime/src/test/resources/test-plugins/versioned-transformation/test/plugins/VersionedTransformation.java
Labels: connect

build a new Metrics for controller after it was restarted
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
Labels: core

KAFKA-16368: Update default linger.ms to 5 for KIP-1030
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  core/src/test/scala/integration/kafka/api/ProducerSendWhileDeletionTest.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  docs/upgrade.html
Labels: clients, core, docs, producer

more comments and more test fixes
  checkstyle/suppressions.xml
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/EpochElectionTest.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft

some cleanup
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
Labels: kraft

MINOR: upgrade ubuntu from trusty to bionic
  Vagrantfile
Labels: none

fix build
  vagrant/base.sh
Labels: tools

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

adding brokerServerMetrics and controllerServerMetrics
  core/src/main/scala/kafka/server/SharedServer.scala
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetrics.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  server/src/main/java/org/apache/kafka/server/metrics/BrokerServerMetrics.java
Labels: core, kraft

fix bugs and add loading test
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/VersionedPluginBuilder.java
  connect/runtime/src/test/resources/test-plugins/versioned-predicate/test/plugins/VersionedPredicate.java
  connect/runtime/src/test/resources/test-plugins/versioned-transformation/test/plugins/VersionedTransformation.java
Labels: connect

KAFKA-18342: Vagrantfile can't work with ruby 3.2
  Vagrantfile
Labels: none

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs
