Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

Verification
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ForwardingDisabledProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ForwardingDisabledProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/NoOpProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams

KAFKA-17393: Remove message.format.version and in TopicConfig
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandlerTest.java
  core/src/test/scala/integration/kafka/api/ConsumerWithLegacyMessageFormatIntegrationTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionWithLegacyMessageFormatTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerParameterizedIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  docs/upgrade.html
  server-common/src/main/java/org/apache/kafka/server/config/ServerLogConfigs.java
  server-common/src/main/java/org/apache/kafka/server/config/ServerTopicConfigSynonyms.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
Labels: clients, core, storage, tools, docs

spotless
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ForwardingDisabledProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ForwardingDisabledProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/NoOpProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams

KAFKA-17393: Remove LogConfig#recordVersion
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LocalLog.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogLoader.java
Labels: core, storage, coordinator

KAFKA-18336 Fix jmh tests on ACL benchmarks
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/acl/StandardAuthorizerUpdateBenchmark.java
Labels: performance

KAFKA-17393: Remove ReplicaManager#getMagic
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core

KAFKA-18338: add log4j.yaml to test-common-api and remove unsed log4j.properties from test-common
  test-common/test-common-api/src/test/resources/log4j.properties
  test-common/test-common-api/src/test/resources/log4j2.yaml
Labels: none

Remove unnecessary `RecordVersion` parameter and minor clean-ups
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogLoader.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: core, storage

Add back assertions and make test pass
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
Labels: core

Delete test that doesn't add value
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core

To satisfy rocksdb 9.7.3
  LICENSE-binary
  gradle/dependencies.gradle
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorder.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapterTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
Labels: build, streams

Add back another assertion that had been removed
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
Labels: core

Revert unintentional variable rename
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
Labels: core

restore the rest of the job
  .github/workflows/build.yml
Labels: build

KAFKA-18339: Remove raw unversioned direct SASL protocol (KIP-896)
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticator.java
Labels: clients

KAFKA-15443 Upgrade RocksDB to 9.7.3
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
Labels: streams

KAFKA-15443 Upgrade RocksDB to 9.7.3
  docs/ops.html
  docs/streams/upgrade-guide.html
Labels: docs

KAFKA-18915: Enter incompatible instead of leaving incompatible entires blank in Kafka Streams broker compatibility matrix
  docs/streams/upgrade-guide.html
Labels: docs

Replace `assertFutureError` with `assertFutureThrows`
  clients/src/test/java/org/apache/kafka/clients/admin/DeleteConsumerGroupOffsetsResultTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/RemoveMembersFromConsumerGroupResultTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
Labels: clients

Address some comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/KafkaConsumerMetrics.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
Labels: clients, consumer

KAFKA-17833: Convert DescribeAuthorizedOperationsTest to use kraft
  checkstyle/import-control-core.xml
  core/src/test/java/kafka/admin/DescribeAuthorizedOperationsTest.java
  core/src/test/scala/integration/kafka/api/DescribeAuthorizedOperationsTest.scala
Labels: core

KAFKA-17921: Support SASL_PLAINTEXT protocol with java.security.auth.login.config
  checkstyle/import-control-test-common.xml
  test-common/src/main/java/org/apache/kafka/common/test/JaasModule.java
  test-common/src/main/java/org/apache/kafka/common/test/JaasTestUtils.java
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/src/test/java/org/apache/kafka/common/test/TestKitNodeTest.java
  test-common/test-common-api/src/test/java/org/apache/kafka/common/test/api/ClusterTestExtensionsTest.java
Labels: none

draft a version
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClientTest.java
Labels: clients

remove unused comments
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClientTest.java
Labels: clients

feat: update response creation methods to accept version parameter
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
Labels: clients

fix: correct topic name in DescribeQuorumResponse test to use cluster metadata topic name
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
Labels: clients

temp
  README.md
Labels: docs

revert command error
  docker/docker_official_images/3.7.0/jvm/jsa_launch
Labels: docker

KAFKA-16260: Deprecate window.size.ms and window.inner.class.serde in StreamsConfig
  docs/upgrade.html
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SelfJoinUpgradeIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SlidingWindowedKStreamIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TimeWindowedKStreamIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedSerializer.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowedDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowedSerializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowedDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowedSerializerTest.java
Labels: streams, docs

add versioned plugin builder
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/VersionedPluginBuilder.java
Labels: connect

MINOR: Various README tweaks
  README.md
Labels: docs

MINOR: Add release note for Java 17 requirement
  build.gradle
  docs/upgrade.html
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
  docs/images/kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme.svg
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
  docs/images/kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme.svg
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
  docs/images/kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

KAFKA-18111 Add kafka logo
  README.md
Labels: docs

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
