Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

Update kafka-logo-readme-light.svg
  docs/images/kafka-logo-readme-light.svg
Labels: docs

MINOR: update Kafka Streams docs for 4.0 KIP changes
  docs/ops.html
  docs/streams/developer-guide/app-reset-tool.html
  docs/streams/developer-guide/config-streams.html
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/manage-topics.html
  docs/streams/developer-guide/testing.html
Labels: docs

fix
  docs/streams/developer-guide/config-streams.html
Labels: docs

More multiversioning tests
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
Labels: connect

fix newPlugin
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
Labels: connect

Improve error message logged on the broker if unsupported version received
  core/src/main/scala/kafka/network/SocketServer.scala
Labels: core

add tests for different version ranges
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
Labels: connect

Add test and adjust error handling
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticator.java
  clients/src/test/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticatorTest.java
Labels: clients

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs

Update kafka-logo-readme-dark.svg
  docs/images/kafka-logo-readme-dark.svg
Labels: docs
