Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

fix DescribeTopicPartitionsRequestHandlerTest by add LISTENER_SECURITY_PROTOCOL_MAP_CONFIG
  core/src/test/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandlerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core

remove zk test
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: core

fix
  tools/src/main/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatter.java
Labels: tools

fix test
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: core

Remove FIXMEs
  clients/src/main/java/org/apache/kafka/common/requests/ProduceRequest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
Labels: clients

impl
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/AssignmentMemberSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/GroupAssignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/GroupSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/GroupSpecImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/MemberAssignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/MockAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/TaskAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/TaskAssignorException.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/TaskId.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/TopologyDescriber.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/taskassignor/GroupSpecImplTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/taskassignor/MockAssignorTest.java
Labels: coordinator

KAFKA-17615: Remove KafkaServer from tests
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
  core/src/test/scala/unit/kafka/admin/ReplicationQuotaUtils.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

Addressing review comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchMetricsManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchMetricsRegistry.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchMetricsManagerTest.java
Labels: clients, consumer

fail on quarntinedTest timeout
  .github/scripts/junit.py
  .github/workflows/build.yml
Labels: build

clean ups, moved to different package
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/AssignmentMemberSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/GroupAssignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/GroupSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/GroupSpecImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/MemberAssignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/MockAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/TaskAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/TaskAssignorException.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/TaskId.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/TopologyDescriber.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/assignor/GroupSpecImplTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/assignor/MockAssignorTest.java
Labels: coordinator

MINOR: Add 3.8.1 version to version.py
  tests/kafkatest/version.py
Labels: none

Moving to ordered map for tags
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchMetricsManager.java
Labels: clients, consumer

change the default linger ms
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
Labels: coordinator

fix
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
Labels: core

KAFKA-15443 Upgrade RocksDB dependency and address compatibility issues
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorder.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapterTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
Labels: streams

KAFKA-18321: Add StreamsGroupMember, MemberState and Assignment classes
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/Assignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/MemberState.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMember.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/AssignmentTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TaskAssignmentTestUtil.java
Labels: coordinator

suppress warnings in tests
  checkstyle/suppressions.xml
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/AssignmentTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMemberTest.java
Labels: coordinator

KAFKA-15586: reenable the unclean shutdown detection
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: kraft

only update test catalog on trunk when successful
  .github/workflows/build.yml
  .github/workflows/ci.yml
Labels: build

Fix merge conflict with First pass at adding IQv2 information
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: coordinator

Added IQv2 information updated IQ related integration tests
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/taskassignor/StickyTaskAssignorTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/ConsistencyVectorIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/IQv2IntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/IQv2VersionedStoreIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/LagFetchIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/PositionRestartIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
Labels: streams, coordinator

Change to get
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
Labels: core

dont update catalog on timeout
  .github/workflows/build.yml
Labels: build

Improve offset reset strategy valid value string
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
Labels: coordinator

Checkstyle fixes
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: coordinator

KAFKA-17615: Remove KafkaServer references (#17365)
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaBroker.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/unit/kafka/admin/ReplicationQuotaUtils.scala
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  core/src/test/scala/unit/kafka/server/AutoTopicCreationManagerTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
Labels: core

Kafka logo added for readme.md
  docs/images/kafka-logo-readme-light.svg
Labels: docs

modify config to fix test in ConnectionQuotasTest
  core/src/test/scala/unit/kafka/network/ConnectionQuotasTest.scala
Labels: core

KAFKA-12829: Remove old Processor and ProcessorSupplier interfaces
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/Cancellable.java
  streams/src/main/java/org/apache/kafka/streams/processor/Processor.java
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/PunctuationType.java
  streams/src/main/java/org/apache/kafka/streams/processor/RecordContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/To.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams

checkstyle
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
Labels: streams

formatting
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
Labels: streams

revert
  streams/src/main/java/org/apache/kafka/streams/processor/To.java
Labels: streams

increase timeout
  .github/workflows/build.yml
Labels: build

Update RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
Labels: streams

Update RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
Labels: streams

Fix test and code comment
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetHistoryTest.java
Labels: kraft

rename methods
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
Labels: coordinator

spotless
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStoreTest.java
Labels: streams

fix failing tests
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
Labels: streams

checkstyle
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
Labels: streams
