Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'

KAFKA-14587: Move AclCommand to tools
  bin/kafka-acls.sh
  bin/windows/kafka-acls.bat
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/server/authorizer/Authorizer.java
  core/src/main/scala/kafka/admin/AclCommand.scala
  core/src/test/scala/integration/kafka/api/EndToEndAuthorizationTest.scala
  tools/src/main/java/org/apache/kafka/tools/AclCommand.java
  tools/src/test/java/org/apache/kafka/tools/AclCommandTest.java
Labels: clients, core, tools

add comment for fatal error
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
Labels: clients, consumer

fix links for badges
  README.md
Labels: docs

missed ?
  README.md
Labels: docs

KAFKA-14484: Move UnifiedLog static methods to storage
  checkstyle/import-control-storage.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/server/TierStateMachine.java
  core/src/main/scala/kafka/cluster/Replica.scala
  core/src/main/scala/kafka/log/LogCleaner.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/KafkaRaftServer.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/ReplicaTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaRaftServerTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/record/BaseRecordBatchBenchmark.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogMetricNames.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/UnifiedLogTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestContext.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectLeaderEpochCheckpointAction.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterInstance.java
Labels: core, storage, performance

KAFKA-17972: Set all tests inheriting from QuorumTestHarness to KRaft
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
Labels: core

Add flaky tag to flaky test case
  core/src/test/scala/unit/kafka/integration/MetricsDuringTopicCreationDeletionTest.scala
Labels: core

KAFKA-15474: Disable flaky test
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinatorTest.java
Labels: clients

fix: Add miss configs for ConnectRestApiTest
  tests/kafkatest/tests/connect/connect_rest_test.py
Labels: none

KAFKA-18247: Use log4j2 yaml to rewrite the fix of KAFKA-18145
  tests/kafkatest/services/templates/connect_log4j2.yaml
Labels: none

wip
  core/src/main/scala/kafka/server/metadata/DynamicClientQuotaPublisher.scala
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  metadata/src/main/java/org/apache/kafka/metadata/BrokerRegistration.java
Labels: core, kraft

merge run into Compile and validate
  .github/workflows/build.yml
Labels: build

add clusterId to DynamicClientQuotaPublisher
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/metadata/DynamicClientQuotaPublisher.scala
Labels: core

Draft a version
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
Labels: core

Draft a version
  .github/workflows/build.yml
Labels: build

done with tests
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignTableJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionReceiveProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ForeignTableJoinNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignTableJoinProcessorSupplierTests.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionReceiveProcessorSupplierTest.java
Labels: streams

checkstyle
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

revert
  .github/workflows/build.yml
Labels: build

convert to regular node
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ForeignTableJoinNode.java
Labels: streams

fix
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
Labels: streams

Add newline at end of file
  tests/kafkatest/services/templates/connect_log4j2.yaml
Labels: none

wip
  core/src/test/java/kafka/server/ProducerRebootstrapIntegrationTest.java
Labels: core

refactor: use Producer interface and ClusterInstance producer factory
  core/src/test/java/kafka/admin/AdminFenceProducersTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteOffsetsConsumerGroupCommandIntegrationTest.java
Labels: core, tools

Only look for the CI workflow pending approval
  .github/workflows/pr-labeled.yml
Labels: build

KAFKA-18209 Cleanup `__transaction_state` config logic
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
Labels: core

Validate plugin type while getting verison to avoid showing wrong default version
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
Labels: connect

bug fixes to version fetching
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
Labels: connect

checkstyle fix
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
Labels: connect

Revert "KAFKA-18200: Handle more exceptions in coordinator runtime"
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
Labels: coordinator

KAFKA-18201: testGroupMetadataMessageFormatter fails for new consumer protocol
  checkstyle/import-control.xml
  tools/src/main/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatter.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatterTest.java
Labels: tools

set eventPerformanceMonitor earlier
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
Labels: kraft

rework fix
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
Labels: coordinator

add test for empty batches
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
Labels: coordinator

fixup: lint
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
Labels: coordinator

Address Andrew's suggestion
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
Labels: coordinator

KAFKA-18157:Consider UnsupportedVersionException child class to represent the case of unsupported fields
  clients/src/main/java/org/apache/kafka/common/errors/UnsupportedProtocolFieldException.java
  clients/src/main/java/org/apache/kafka/common/requests/CreateAclsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/CreateTopicsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DeleteAclsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeAclsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ElectLeadersRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/FindCoordinatorRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/HeartbeatRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/JoinGroupRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ListGroupsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ListTransactionsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/MetadataRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetFetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/SyncGroupRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/UpdateMetadataRequest.java
  clients/src/test/java/org/apache/kafka/clients/NetworkClientTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
Labels: clients

KAFKA-18237: Add 3.7.2 to e2e test
  gradle/dependencies.gradle
  tests/docker/Dockerfile
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: build, tools

KAFKA-17747: move Murmur3 from org.apache.kafka.streams.state.internals to org.apache.kafka.common.hash
  clients/src/main/java/org/apache/kafka/common/hash/Murmur3.java
  gradle/spotbugs-exclude.xml
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ResponseJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/common/hash/Murmur3Test.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ResponseJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerdeTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerdeTest.java
Labels: build, clients, streams

transition KTable#filter impl to use processor wrapper
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableFilter.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableFilterNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

modified prune metric type and recording.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/metrics/ShareCoordinatorMetrics.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/metrics/ShareCoordinatorMetricsTest.java
Labels: none
