Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

remove createTopicWithAssignment
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

remove createTopic
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

remove createOffsetsTopic
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: core

remove setUp
  core/src/test/scala/unit/kafka/admin/AddPartitionsTest.scala
Labels: core

remove controllerServers
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
Labels: core

remove insertControllerListenersIfNeeded
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
Labels: core

KAFKA-16143: New JMX metrics for AsyncKafkaConsumer
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegate.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/BackgroundEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/BackgroundEventHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CompletableEventReaper.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/AsyncConsumerMetrics.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ApplicationEventHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/BackgroundEventHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegateTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/CompletableEventReaperTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/metrics/AsyncConsumerMetricsTest.java
Labels: clients, consumer

fix comment, revert var name change
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
Labels: kraft

remove pronouns
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
Labels: kraft

Updates to facilitate option 4 for ClassicKafkaConsumer
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetFetcherTest.java
Labels: clients, consumer

Discard changes to tests/kafkatest/services/verifiable_consumer.py
  tests/kafkatest/services/verifiable_consumer.py
Labels: none

pr feedback
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/SlowEventsLogger.java
  server/src/main/java/org/apache/kafka/server/config/KRaftConfigs.java
Labels: core, kraft

remove zkConnectOrNull
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndClusterIdTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/ProducerCompressionTest.scala
  core/src/test/scala/integration/kafka/api/ProducerFailureHandlingTest.scala
  core/src/test/scala/integration/kafka/api/ProducerIdExpirationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsBounceTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsExpirationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsWithMaxInFlightOneTest.scala
  core/src/test/scala/integration/kafka/server/FetchFromFollowerIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/integration/MetricsDuringTopicCreationDeletionTest.scala
  core/src/test/scala/unit/kafka/integration/MinIsrConfigTest.scala
  core/src/test/scala/unit/kafka/integration/UncleanLeaderElectionTest.scala
  core/src/test/scala/unit/kafka/server/DeleteTopicsRequestWithDeletionDisabledTest.scala
  core/src/test/scala/unit/kafka/server/EdgeCaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricsReporterTest.scala
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochIntegrationTest.scala
Labels: core

Address comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
Labels: clients, consumer

remove zkClientOrNull
  core/src/test/scala/integration/kafka/api/ProducerSendWhileDeletionTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/metrics/MetricsTest.scala
Labels: core

wip
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
Labels: core

fix test using zk client
  core/src/test/scala/unit/kafka/integration/MetricsDuringTopicCreationDeletionTest.scala
Labels: core

Address comments
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core

KAFKA-17928: Make remote log manager thread-pool configs dynamic
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageThreadPool.java
Labels: core, storage

Disallow configuring -1 for copier and expiration thread pools
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
Labels: core, storage

MINOR: Clean leaking resources
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core

KAFKA-17871: fixup CI compilation errors
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/OffsetStorageReaderTest.java
Labels: connect

Addressed the review comments
  clients/src/main/java/org/apache/kafka/common/utils/ThreadUtils.java
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageThreadPool.java
Labels: clients, core, storage

Experimentally change consumer topic auto-create default
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
Labels: clients, consumer

Address comments
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core

revert to throwing IllegalStateException
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/OAuthBearerSaslClient.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/OAuthBearerSaslServer.java
  clients/src/main/java/org/apache/kafka/common/security/plain/internals/PlainSaslServer.java
  clients/src/main/java/org/apache/kafka/common/security/scram/internals/ScramSaslClient.java
  clients/src/main/java/org/apache/kafka/common/security/scram/internals/ScramSaslServer.java
Labels: clients

Add the files
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsSpec.java
Labels: clients

Share coordinator changes
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateSummaryResponse.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinator.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
Labels: clients, core

add headers
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsSpec.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinator.java
Labels: clients

minor
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateSummaryResponse.java
Labels: clients

Persister changes
  share/src/main/java/org/apache/kafka/server/share/persister/DefaultStatePersister.java
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
Labels: none

checkstyle fix
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
Labels: none

merge upstream
  share/src/main/java/org/apache/kafka/server/share/persister/DefaultStatePersister.java
Labels: none

Add tests
  checkstyle/checkstyle.xml
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateSummaryResponse.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinator.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  share/src/main/java/org/apache/kafka/server/share/persister/DefaultStatePersister.java
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
  share/src/main/java/org/apache/kafka/server/share/persister/ReadShareGroupStateSummaryResult.java
  share/src/test/java/org/apache/kafka/server/share/persister/DefaultStatePersisterTest.java
Labels: clients

Add ancillary func
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsSpec.java
Labels: clients

minor feedback
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
Labels: clients

Boiler plate code for Admin Client
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
Labels: clients, streams

GC code block
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
Labels: core, coordinator

Address comments
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
Labels: clients

fix spotbugs issue
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
Labels: clients

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
