Repository Gongheyang/kafka, changes with the labels that .github/labeler.yml gives for each.
All labels: build, clients, connect, core, storage, streams, tools, docs, docker, coordinator, performance, consumer, producer, kraft

Update memory-mgmt.html
  docs/streams/developer-guide/memory-mgmt.html
Labels: docs

Update memory-mgmt.html
  docs/streams/developer-guide/memory-mgmt.html
Labels: docs

Addressing review comments
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchMetricsManager.java
Labels: clients, consumer

remove RemoteLogManagerTest all zookeeper.connect
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: core

HOTFIX: fix incompatible types: Optional<TimestampAndOffset> cannot be converted to Option<TimestampAndOffset>
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: core

cr
  docs/streams/developer-guide/memory-mgmt.html
Labels: docs

remove createTopic to CustomQuotaCallbackTest
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

Tidy up
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMember.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TaskAssignmentTestUtil.java
Labels: coordinator

Convert Assignment class to record
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/Assignment.java
Labels: coordinator

Adapt assignment tests to record
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/AssignmentTest.java
Labels: coordinator

convert to regular node
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GraphGraceSearchUtil.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorToStateConnectorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StatefulProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSuppressNode.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/GraphGraceSearchUtilTest.java
Labels: streams

Add specific error handling for unsupported version in share consumer and consumer
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
Labels: clients, consumer

refactor(consumer): consolidate share protocol error message and improve error handling
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
Labels: clients, consumer

Address Andrew and Lianet's comment on SHARE_PROTOCOL_NOT_SUPPORTED_MSG
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
Labels: clients, consumer

Address Andrew comments on shareheartbeatrequestmanageer
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
Labels: clients, consumer

Remove duplicated logic of unsupported version handling in AbstractHeartbeatRequestManager#onErrorResponse
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
Labels: clients, consumer

Improve UnsupportedVersion test coverage
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
Labels: clients

Improve error handling in HeartbeatRequestManager
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
Labels: clients, consumer

KAFKA-18312: Added entityType: topicName to SubscribedTopicNames in ShareGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/ShareGroupHeartbeatRequest.json
Labels: clients

Fix checkstyle errors
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMember.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/AssignmentTest.java
Labels: coordinator

remove unused import
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core

more tests
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/FollowerStateWithVoteTest.java
Labels: kraft

KAFKA-18330: Update documentation to remove controller deployment limitations
  docs/ops.html
Labels: docs

KAFKA-18206: EmbeddedKafkaCluster must set features
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
Labels: connect

adding raft metrics for KIP-853
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/VoterSet.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
Labels: kraft

KAFKA-18326: fix merge iterator with cache tombstones
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractMergedSortedCacheStoreIterator.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MergedSortedCacheKeyValueBytesStoreIteratorTest.java
Labels: streams

KAFKA-15370: Support Participation in 2PC (KIP-939) (1/N)
  core/src/main/scala/kafka/coordinator/transaction/TransactionMetadata.scala
Labels: core

Restore produce v4-v6 (inclusive) to workaround librdkafka bug
  clients/src/main/resources/common/message/ProduceRequest.json
  clients/src/main/resources/common/message/ProduceResponse.json
Labels: clients

Fix long line
  clients/src/main/java/org/apache/kafka/clients/producer/internals/RecordAccumulator.java
Labels: clients, producer

KAFKA-18334: Produce v4-v6 should be undeprecated
  clients/src/main/resources/common/message/ProduceRequest.json
Labels: clients

why isnt this working
  .github/workflows/build.yml
Labels: build

add another check
  .github/workflows/build.yml
Labels: build

KAFKA-18336 Fix jmh tests on ACL benchmarks
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/acl/AuthorizerBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/acl/StandardAuthorizerUpdateBenchmark.java
Labels: performance

Fix test
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
Labels: core

Start addressing comments from initial review
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
Labels: streams, coordinator

logging changes etc.
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  metadata/src/main/java/org/apache/kafka/controller/EventPerformanceMonitor.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/test/java/org/apache/kafka/controller/EventPerformanceMonitorTest.java
  server/src/main/java/org/apache/kafka/server/config/KRaftConfigs.java
Labels: core, kraft

Adjust test now that the min produce request supported is v3
  clients/src/test/java/org/apache/kafka/common/requests/ProduceRequestTest.java
Labels: clients

Adjust test given type change due to merge from master
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
Labels: core

Fix test failures
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
Labels: core

KAFKA-13722: remove usage of old ProcessorContext
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableRepartitionMap.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractDualSchemaRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingKeyValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingListValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingSessionBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedKeyValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingSessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/GlobalStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/test/NoOpProcessorContext.java
Labels: streams

.github/labeler.yml:

build:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'gradle/**'
      - '*gradlew*'

clients:
- changed-files:
  - any-glob-to-any-file: 
    - 'clients/**'

connect:
- changed-files:
  - any-glob-to-any-file: 
    - 'connect/**'

core:
- changed-files:
  - any-glob-to-any-file:
    - 'core/**'
    - '*server*/**'

storage:
- changed-files:
  - any-glob-to-any-file: 
    - 'storage/**'

streams:
- changed-files:
  - any-glob-to-any-file: 
    - 'streams/**'

tests:
- changed-files:
  - any-glob-to-all-files: 
    - 'tests/**'
    - '**/test/**'

tools:
- changed-files:
  - any-glob-to-any-file:
    - 'tools/**'
    - 'trogdor/**'
    - 'vagrant/**'
    - 'committer-tools/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'examples/**'

docker:
- changed-files:
  - any-glob-to-any-file: 
    - 'docker/**'


coordinator:
- changed-files:
  - any-glob-to-any-file: 
    - 'group-coordinator/**'
    - 'coordinator-common/**'

performance:
- changed-files:
  - any-glob-to-any-file: 
    - 'jmh-benchmarks/**'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/consumer/**'

producer:
  - changed-files:
    - any-glob-to-any-file:
      - 'clients/src/main/java/org/apache/kafka/clients/producer/**'

kraft:
  - changed-files:
    - any-glob-to-any-file:
      - 'metadata/**'
      - 'raft/**'
